html {
  font-size: 14px;
  font-family: Georgia, serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
  margin-bottom: 60px;
  background-color: rgba(255, 255, 128, .5);
}

table {
    width: 100%;
}

td {
    border-spacing: 10px;
    border: 1px solid black;
}
.link {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 14px;
}
.back{
    background: #00ffff;
}
.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
}

    .table thead th {
        font-weight: bold;
        text-align: left;
        border: none;
        padding: 10px 15px;
        background: #d8d8d8;
        font-size: 14px;
    }

    .table thead tr th:first-child {
        border-radius: 8px 0 0 8px;
    }

    .table thead tr th:last-child {
        border-radius: 0 8px 8px 0;
    }

    .table tbody td {
        text-align: left;
        border: none;
        padding: 10px 15px;
        font-size: 14px;
        vertical-align: top;
    }

    .table tbody tr:nth-child(even) {
        background: #f3f3f3;
    }

    .table tbody tr td:first-child {
        border-radius: 8px 0 0 8px;
    }

    .table tbody tr td:last-child {
        border-radius: 0 8px 8px 0;
    }

input {
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: yellowgreen !important;
    outline: none;
    height: 24px;
    width: 120px;
    color: black;
    font-size: 11px;
    font-family: Tahoma;
}

input:focus {
        color: #000000;
        border: 1px solid #000000
}