<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<h3> <a href="@{/account/index/} + ${user.id}"> Вернуться на главную </a> </h3>
<br>
<h3> Вы находитесь на странице администратора </h3>
<h3> <a href="@{/account/lk/} + ${user.id}"> Личный кабинет </a> </h3>
<br>
<br>
<h3> <a href="/account/logout"> Выйти из учетной записи </a> </h3>
<br>
<h3> Контент для администратора... </h3>
<br>
<h3 th:text="${user.nickname}"></h3>
<h3 th:text="${user.role}"></h3>
</body>
</html>