<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- <link rel="stylesheet"  href="/css/main.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <style type="text/css">
        body {
            background: #B0E0E6 !important;
        }
    </style>
</head>
<body>
<div class = "position-absolute top-0 start-0">
    <a class = "btn btn-primary" role = "button" href="/account/logout"> Выйти </a>
</div>
<div class = "position-absolute top-0 end-50">
    <a class = "btn btn-primary" role = "button" th:href="@{/menu/createTask}"> Oбъявление+ </a>
</div>
<div class = "position-absolute top-0 end-0">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
        Уведомления
        <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2"><span class="visually-hidden">непрочитанные сообщения</span></span>
    </button>
    <div class="collapse" id="collapseExample1">
        <div class="card card-body">
            <h4> Список ваших уведомлений: </h4>
            <table class="table">
                <thead class = "thead-dark">
                <tr>
                    <th scope = "col">id</th>
                    <th scope = "col">тип уведомления</th>
                    <th scope = "col">текст</th>
                    <th scope = "col">время</th>
                    <th scope = "col">договор</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="notification : ${notificationList}">
                    <th scope = "row" th:text="${notification.id}"></th>
                    <td th:text="${notification.direction}"> Direction</td>
                    <td th:text="${notification.text}"> Text </td>
                    <td th:text="${notification.time}"> Time </td>
                    <td>
                        <a class = "btn btn-outline-info" role = "button" th:href = "@{/menu/room/task?id=} + ${notification.action.task.id}"> 👁 room </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class = "position-absolute top-0 start-50">
    <a class = "btn btn-primary" role = "button" th:href="@{/account/lk}"> Личный кабинет </a>
</div>
<br>
<br>
<h3> Добро пожаловать на сайт! </h3>
<h3 th:text="${user.nickname}"></h3>
<br>
<div class="input-group mb-3">
    <div class = "form-group">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
            Параметры поиска
            <span class="position-absolute top-0 start-100"><span class="visually-hidden">непрочитанные сообщения</span></span>
        </button>
        <div class = "collapse" id = "collapseExample2">
            <form th:action="@{/account/index}" th:object="${filterSet}">
                <br>
                <div class = "form-group row">
                    <label>Поиск объявления: </label>
                </div>
                <br>
                <div class = "form-group row">
                    <label> Введите ключевые слова:  </label>
                    <input type="text" class="form-control" placeholder="Ключевые слова" aria-label="Ключевые слова"
                           aria-describedby="basic-addon2" th:field="*{rowToFind}" id="RowToFind">
                </div>
                <br>
                <div class = "form-group row">
                    <div class = "form-group col-md-3">
                        <label for="FilteringByType"> Выберите тип фильтрации:  </label>
                        <select class="form-control" id="FilteringByType" th:field="*{type}">
                            <option th:value="'All'" th:text="All"></option>
                            <option th:value="'Building'" th:text="Building"></option>
                            <option th:value="'Cleaning'" th:text="Cleaning"></option>
                            <option th:value="'Repairing'" th:text="Repairing"></option>
                            <option th:value="'Consulting'" th:text="Consulting"></option>
                            <option th:value="'Cooking'" th:text="Cooking"></option>
                            <option th:value="'Freelancing'" th:text="Freelancing"></option>
                        </select>
                    </div>
                    <div class = "form-group col-md-3">
                        <label for="FilteringByStatus"> Выберите статус объявлений:  </label>
                        <select class="form-control" id="FilteringByStatus" th:field="*{status}">
                            <option th:value="'All'" th:text="All"></option>
                            <option th:value="'Inactive'" th:text="Inactive"></option>
                            <option th:value="'ToDo'" th:text="ToDo"></option>
                        </select>
                    </div>
                    <div class = "form-group col-md-3">
                        <label for="FilteringByLikedStatus"> Мои понравившиеся:  </label>
                        <select class="form-control" id="FilteringByLikedStatus" th:field="*{liked}">
                            <option th:value="'All'" th:text="All"></option>
                            <option th:value="'Liked'" th:text="Liked"></option>
                            <option th:value="'Unliked'" th:text="Unliked"></option>
                        </select>
                    </div>
                    <div class = "form-group col-md-3">
                        <label for="FilteringByViewedStatus"> Мои непросмотренные:  </label>
                        <select class="form-control" id="FilteringByViewedStatus" th:field="*{unviewed}">
                            <option th:value="'All'" th:text="All"></option>
                            <option th:value="'unviewed'" th:text="Unviewed"></option>
                        </select>
                    </div>
                </div>
                <br>
                <div class = "form-group row-md-3">
                    <label for="SortingByPrice"> Направление сортировки  </label>
                    <select class="form-control" id="SortingByPrice" th:field="*{Sorter}">
                        <option th:value="'default_sort'" th:text="DefaultSorting"></option>
                        <option th:value="'cheap_first'" th:text="CheaperFirst"></option>
                        <option th:value="'dear_first'" th:text="RicherFirst"></option>
                    </select>
                </div>
                <br>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Показать</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<h4> Список всех доступных объявлений: </h4>
<table class="table">
    <thead class = "thead-dark">
    <tr>
        <th scope = "col">id</th>
        <th scope = "col">название</th>
        <th scope = "col">тип</th>
        <th scope = "col">статус</th>
        <th scope = "col">вознаграждение</th>
        <th scope = "col">подробнее</th>
        <th scope = "col">liked</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="task : ${taskList}">
            <th scope = "row" th:text="${task.id}"></th>
            <td th:text="${task.caption}"> Caption </td>
            <td th:text="${task.type}"> Type </td>
            <td th:text="${task.status}"> Status </td>
            <td th:text="${task.price}"> Price </td>
            <td>
                <span th:if="${task.IsViewed}">
                    <a class = "btn btn-outline-info" role = "button" th:href = "@{/menu/details/task?id=} + ${task.id}"> 👁 </a>
                </span>
                <span th:unless="${task.IsViewed}">
                    <a class = "btn btn-primary" role = "button" th:href = "@{/menu/details/task?id=} + ${task.id}"> 👁 </a>
                </span>
            </td>
            <td>
                <span th:if="${task.Liked == 'Liked'}">
                    <a class = "btn btn-danger" role = "button" th:href = "@{/actions/unlike/task?id=} + ${task.id}">♥</a>
                </span>
                <span th:if="${task.Liked == 'Unliked'}">
                    <a class = "btn btn-light" role = "button" th:href = "@{/actions/like/task?id=} + ${task.id}">♥</a>
                </span>
                <span th:if="${task.Liked == 'LikeProhibit'}">
                    Ваше объявление
                </span>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
