<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<h3> Добро пожаловать </h3>
<h3 th:text="${user.nickname}"></h3>
<br>
<h3> <a href="@{/account/lk/} + ${user.id}"> Личный кабинет </a> </h3>
<br>
<h3> <a href="@{/menu/} + ${user.id} + @{/new-task}"> Создать новое объявление </a> </h3>
<br>
<h3> <a href="/account/logout"> Выйти из учетной записи </a> </h3>
<br>
<h3> Список объявлений: </h3>
<table border="2">
    <tr>
        <td>название</td>
        <td>стоимость выполнения</td>
        <td>task details</td>
    </tr>
    <tr th:each="task : ${taskList}">
        <td th:text="${task.caption}"> Caption </td>
        <td th:text="${task.price}"> Price </td>
        <td><a th:href = "@{/menu/} + ${user.id} + @{/details/task/} + ${task.id}"> Посмотреть </a></td>
    </tr>
</table>
</body>
</html>