<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- <link rel="stylesheet"  href="/css/main.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <style type="text/css">
        body {
            background: #B0E0E6 !important;
        }
    </style>
</head>
<body>
<div class = "position-absolute top-0 start-0">
    <a class="btn btn-primary" type="button" th:href="@{/account/index1}"> ← index</a>
</div>
<br>
<br>
<h3> Cоздайте новое объявление </h3>
<br>
<form th:action="@{/menu/createTaskPost}" th:method="post" th:object="${task}">

    <div class = "form-group">
        <label for="caption"> Название объявления  </label>
        <input type="text" class="form-control" placeholder="Enter caption" th:field="*{caption}" id="caption"/>
    </div>

    <div class = "form-group">
        <label for="description"> Описание задачи  </label>
        <textarea rows="10" class="form-control" placeholder="Enter description" th:field="*{description}" id="description"/>
    </div>

    <div class = "form-group">
        <label for="price"> Вознаграждение  </label>
        <input type="number" class="form-control" placeholder="Enter price" th:field="*{price}" id="price"/>
    </div>

    <div class = "form-group">
        <label for="exampleFormControlSelect1"> Выберите тип задачи  </label>
        <select class="form-control" id="exampleFormControlSelect1" th:field="*{type}">
            <option th:value="'Building'" th:text="Building"></option>
            <option th:value="'Cleaning'" th:text="Cleaning"></option>
            <option th:value="'Repairing'" th:text="Repairing"></option>
            <option th:value="'Consulting'" th:text="Consulting"></option>
            <option th:value="'Cooking'" th:text="Cooking"></option>
            <option th:value="'Freelancing'" th:text="Freelancing"></option>
        </select>
    </div>

    <div class = "form-group">
        <label  for="exampleFormControlSelect2"> Измените статус  </label>
        <select class="form-control" id="exampleFormControlSelect2" th:field="*{status}">
            <option th:value="'ToDo'" th:text="ToDo"></option>
            <option th:value="'Inactive'" th:text="Inactive"></option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary mb-2">Создать</button>
</form>
</body>
</html>