<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"  href="/css/main.css">
</head>
<body>
<h3> <a href="/"> Вернуться на главную </a> </h3>
<br>
<h3> <a href="/account/register"> Зарегистрироваться </a> </h3>
<h3> <a href="/account/login"> Войти в учетную запись </a> </h3>
<br>
<h3> Подробная информация о задаче: </h3>
<table>
    <tr>
        <td>/</td>
        <td>Детали</td>
    </tr>
    <tr>
        <td>Название</td>
        <td th:text="${task.caption}"></td>
    </tr>
    <tr>
        <td>Описание</td>
        <td th:text="${task.description}"></td>
    </tr>
    <tr>
        <td>Тип</td>
        <td th:text="${task.type}"></td>
    </tr>
    <tr>
        <td>Дата создания</td>
        <td th:text="${task.createdate}"></td>
    </tr>
    <tr>
        <td>Вознаграждение</td>
        <td th:text="${task.price}"></td>
    </tr>
    <tr>
        <td>Текущий статус</td>
        <td th:text="${task.status}"></td>
    </tr>
    <tr>
        <td>Заказчик</td>
        <td><a th:href="@{/account/profile/executor/} + ${task.executor.id}"> Профиль заказчика </a></td>
    </tr>
</table>
</body>
</html>