<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"  href="/css/main.css">
</head>
<body>
<h3> Измените текущее объявление </h3>
<form th:action="@{/menu/} + ${user.id} + @{/task/} + ${task.id} + @{/editPost}" th:method="post" th:object="${task}">
    <div>
        <label for="caption"> Название объявления  </label>
        <input type="text" th:field="*{caption}" id="caption"/>
        <br>

        <label for="description"> Описание задачи  </label>
        <textarea rows="10" th:field="*{description}" id="description"/>
        <br>

        <label for="price"> Вознаграждение  </label>
        <input type="number" th:field="*{price}" id="price"/>
        <br>

        <label> Измените тип задачи  </label>
        <select th:field="*{type}">
            <option th:value="'Building'" th:text="Building"></option>
            <option th:value="'Cleaning'" th:text="Cleaning"></option>
            <option th:value="'Repairing'" th:text="Repairing"></option>
            <option th:value="'Consulting'" th:text="Consulting"></option>
            <option th:value="'Cooking'" th:text="Cooking"></option>
            <option th:value="'Freelancing'" th:text="Freelancing"></option>
        </select>
        <br>

        <label> Измените статус  </label>
        <select th:field="*{status}">
            <option th:value="'ToDo'" th:text="ToDo"></option>
            <option th:value="'Inactive'" th:text="Inactive"></option>
        </select>
        <br>

        <input type="submit" value="Отправить">
    </div>
</form>
<br>
<h3> <a th:href="@{/account/index/} + ${user.id}"> Вернуться на главную </a> </h3>
</body>
</html>